name: Auto-merge 'Giacomo' PRs
on:
  pull_request_target:
    types: [opened, edited, synchronize]

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    
    if: contains(github.event.pull_request.body, 'Giacomo')
    
    steps:
      - name: Enable Auto-Merge
        run: gh pr merge --auto --merge "${{ github.event.pull_request.html_url }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
